<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- Navigation bar -->
    <nav>

    </nav>
    <div id="main-section">
        <!-- Room selection -->
        <nav id="sidebar">

        </nav>
        <!-- Message area -->
        <div id="rightside-pannel">
            <!-- Display msg -->
            <div id="display-message-section">

            </div>
            <!-- Input msg -->
            <div id="input-area">
                 <input type="text" id="user_message" placeholder="Type here" autocomplete="off">
                 <button type="button" id="send_message">Send</button>   
            </div>

        </div>
   
    </div>

    <!--Socket IO JS-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!--Custom Socket IO JS-->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</body>
</html>