{% from 'form_helper.html' import displayField %}
{% extends 'prelogin-layout.html' %}

{% block title %}Login {% endblock %}

{% block content %}
<div class="login-div">
    <h2>Login</h2>
    <p>Enter your uername and password</p>

    <form action="{{ url_for('login') }}", method="POST">
        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning" style="background-color: #7289da; border-color: #7289da; color: #2c2f33;">
        </div>
        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Not a Discrod user yet? <a href={{url_for('index')}}>Sign up</a> here.</p>
</div>
{% endblock %}